ul.socicon
	li
		a(href="#" target="_blank")
			span.visually-hidden Вконтакте
			+icon('icon--vk')
	li
		a(href="#" target="_blank")
			span.visually-hidden Фейсбук
			+icon('icon--fb')
	li
		a(href="#" target="_blank")
			span.visually-hidden Твиттер
			+icon('icon--tw')
