section.info.pd-150
	div.container
		div.row
			div.col-12.col-md-4.order-2.order-md-1
				div.info__wrap
					h2.h2.mr-b-13.info-heiden Давайте знакомиться

					include ../feature/feature.pug
					+feature({number: '15', seal: 'печатаем', text: 'За&nbsp;это время выпущено более 300 книг краеведческой, художественной.'})

			div.col-12.col-md-4.order-1.order-md-2
				h2.h2.mr-b-13.info-viseble Давайте знакомиться

				div.info__img.mr-b-13
					span.info__name Наталья Михайлова
					picture
						img(src="images/info-img.jpg" srcset="images/info-img@2x.jpg 2x" alt="Наталья Михайлова")


			div.col-12.col-md-4.order-3
				div.info__wrap
					+feature({number: '15', seal: 'печатаем', text: 'За&nbsp;это время выпущено более 300 книг краеведческой, художественной.'})

					+feature({number: '15', seal: 'печатаем', text: 'За&nbsp;это время выпущено более 300 книг краеведческой, художественной.'})