section.activities.pd-t-150
	div.container
		div.row
			div.col-12
				h2.h2 Типография полного цикла
			
			div.col-12.col-md-4
				div.activities__item
					include ../activitie/activitie.pug
					+activitie({img: 'book.svg', alt: 'книги', title: 'Производство книг', text: 'P - Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ebitis nulla dicta maxime necessitatibus'})

			div.col-12.col-md-4
				div.activities__item
					+activitie({img: 'seal.svg', alt: 'печать', title: 'Цифровая и&nbsp;офсетная печать', text: 'P - Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ebitis nulla dicta maxime necessitatibus'})

			div.col-12.col-md-4
				div.activities__item
					+activitie({img: 'disine.svg', alt: 'дизайн', title: 'Дизайн', text: 'P - Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ebitis nulla dicta maxime necessitatibus'})