.activities .h2 {
	/* 2 Block model */
	margin-bottom: 34px;
	
	/* 3 Typography */
	text-align: center;

	@media(min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 54px;
	}
}
.activities__item {
	/* 2 Block model */
	margin-bottom: 28px;

	@media(min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 0;
	}
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */