.pd-38 {
  /* 2 Block model */
  padding-top: 16px;
  padding-bottom: 16px;

  @media(min-width: 768px) {
    /* 2 Block model */
    padding-top: 38px;
    padding-bottom: 38px;
  }
}
.pd-b-54 {
  /* 2 Block model */
  padding-bottom: 54px;
}
.pd-150 {
  /* 2 Block model */
  padding-top: 50px;
  padding-bottom: 50px;

  @media(min-width: 768px) {
    /* 2 Block model */
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.pd-t-150 {
  /* 2 Block model */
  padding-top: 50px;

  @media(min-width: 768px) {
    /* 2 Block model */
    padding-top: 150px;
  }
}
.pd-b-150 {
  /* 2 Block model */
  padding-bottom: 50px;

  @media(min-width: 768px) {
    /* 2 Block model */
    padding-bottom: 150px;
  }
}
